/* Reset styles */
@define-color bg #002b36;
* {
    border: none;
    border-radius: 5px;
    min-height: 0;
    margin: 1px;
    padding: 0;
}

/* The  bar */
#waybar {
    background: transparent;
    color: white;
    font-family: "awesome 5";
    font-size: 10px;
    font-weight: bold;
}

#backlight,
#battery,
#clock,
#custom-keyboard-battery,
#custom-keyboard-layout,
#mode,
#network,
#pulseaudio,
#custom-alsa,
#custom-kill,
#custom.kill,
#tray {
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 1px;
    margin-right: 1px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#backlight,
#battery,
#clock,
#custom-keyboard-layout,
#mode,
#network,
#pulseaudio,
#custom-alsa,
#custom-kill,
#custom.kill,
#custom-modem,
#tray {
	padding-top: 4px;
	padding-bottom: 4px;
	margin-top: 1px;
	margin-bottom: 1px;
}


/*@media (width > 800px) {
	#clock {
	 padding: 10px;
	}
}*/

/*modules style*/
#disk {
    background: #d79921;
    color: #282828;
}

#backlight {
    background: #689d6a;
    color: #FFFFFF;
    background: #957DAD;
    background: @bg;
}

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: #eceff4;
    color: #282828;
    background: #fbf1c7;
    color: #FFFFFF;
    background: #957DAD;
    background: @bg;
}

#custom-keyboard-battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: #eceff4;
    color: #282828;
    background: #fbf1c7;
    color: #FFFFFF;
    background: #957DAD;
    background: @bg;
}


#custom-battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: #eceff4;
    color: #282828;
    background: #fbf1c7;
    color: #FFFFFF;
    background: #957DAD;
    padding-left: 2px;
    padding-right: 2px;
    background: @bg;
}


#battery.warning {
    color: orange;
    background: orange;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: #eceff4;
    color: #282828;
    background: #fbf1c7;
    color: orange;
    background: orange;
    padding-left: 2px;
    padding-right: 2px;

}

#custom-modem {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    color: #FFFFFF;
    background: #957DAD;
    padding-left: 4px;
    padding: 4px;
    background: @bg;
}

#clock.date {
    background: #eceff4;
    color: #282828;
    font-weight: bold;
    font-size: 10px;
    color: white;
    background: #fbf1c7;
    background: #957DAD;
    background: @bg;
}

#clock.time {
    background: #eceff4;
    color: #282828;
    font-weight: bold;
    font-size: 10px;
    color: white;
    background: #fbf1c7;
    background: #957DAD;
    background: @bg;
}


#mode {
    background: #64727d;
    border-top: 2px solid white;
    /* To compensate for the top border and still have vertical centering */
    padding-bottom: 2px;
}

#network {
    background: #eceff4;
    color: #282828;
    color: white;
    background: #fbf1c7;
    background: #957DAD;
    padding-right: 6px;
    background: @bg;
}

#network.disconnected {
    color: orange;
}

#pulseaudio {
    background: #8f3f71;
    color: #282828;
    color: #FFFFFF;
    background: #fbf1c7;
    background: #957DAD;
    background: @bg;
}

#pulseaudio.muted {
    background: #98971a;
    color: #282828;
}

#custom-kill {
    background: #a32a03;
    color: #282828;
}

#tray {
    background: transparent;
}

#window {
    font-weight: bold;
}

#workspaces button {
    font-weight: bold;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
    color: greenyellow;
    background: grey;
    border-radius: 5px;
    color: white;
    background: #fbf1c7;
    background: #957DAD;
    background: @bg;
}

#workspaces button.focused {
    font-weight: bold;
    color: grey;
    background-color: #957DAD;
    color: black;
    background: #957DAD;

}

#custom-notification {
    font-family: "awesome 5";
    background: #957DAD;
    padding-left: 4px;
    padding: 4px;
    background: @bg;
}
